* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Helvetica;
    line-height: 1.6;
}

/***** HEADER/NAVIGATION *****/
header {
    background-color: #0f0d3f;
    padding: 1rem 2rem;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    height: 60px; 
    z-index: 2;
}

.logo {
    max-width: 140px; 
    height: auto;
}

.nav-links {
    display: flex;
    justify-content: flex-end; 
    list-style: none;
    gap: 1rem; 
}

.nav-links a {
    color: white;
    text-decoration: none; 
    font-weight: bold;
}

.nav-links a:hover {
    color: #37d6dc;
}

/***** HERO HOME PAGE *****/
.hero {
    height: 100vh; 
    background: url(Images/hero.svg) center/cover no-repeat; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
}

.hero-text {
    text-align: center; 
    color: white;
    z-index: 1;
    max-width: 90%;
}


.hero-text h1 {
    font-size: 65px; 
    margin-bottom: 15px;
}


.hero-text p {
    font-size: 25px;
    margin-bottom: 25px;
}
span{
    color: #01d5d5;
}


.hero-text .btn1 {
    padding: 20px 40px; 
    font-size: 18px;
    background-color: #0f0d3f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.hero-text .btn1:hover {
    background: white;
    color: #01d5d5;
    border: 2px solid #01d5d5;
}

/***** SERVICES PAGE *****/
.servicebody {
    background: url(Images/hero4.svg) center/cover no-repeat;
    padding: 50px 50px;
}

h1 {
    color: white;
    font-size: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; 
}

.cardbackground {
    flex: 1 1 30%;
    min-width: 280px;
    max-width: 350px; 
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px; 
}

.cardbackground img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    object-fit: cover; 
}

.cardbackground h3 {
    font-size: 25px;
    color: #0f0d3f;
    margin-top: 20px;
}

.cardbackground p {
    color: #0f0d3f;
    line-height: 1.5;
    margin-top: 20px;
}

/* service buttons */
.cardbackground .btn {
    width: 100%;
    padding: 15px;
    background-color: #0f0d3f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.cardbackground .btn:hover {
    background: white;
    color: #01d5d5;
    border: 2px solid #01d5d5;
}

/***** ABOUT US ******/
.aboutus-body {
    min-height: 100vh; 
    padding: 50px 20px; 
    background: url(Images/hero4.svg) center/cover no-repeat;
    display: flex;
    justify-content: center;
}

/* container for pic and text */
.about {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
    max-width: 1200px;
    margin: auto; /* Center the content horizontally */
}


.manpic {
    width: 50%; /* taking up % of container */
    max-width: 500px;
    height: auto;
    object-fit: cover;
}


.about-text {
    width: 50%; /* takes up % of container split with manpic*/
    color: white;
    font-size: 20px; 
    line-height: 1.6; 
}


.about-text h1 {
    font-size: 45px; 
    color: #0f0d3f; 
    margin-bottom: 20px;
}


.about-text p {
    margin-bottom: 20px; 
}


.aboutbtn {
    background-color: #0f0d3f; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 45px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}


.aboutbtn:hover {
    background: white;
    color: #01d5d5;
    border: 2px solid #01d5d5;
}

/***** CONTACT US PAGE *****/

.contactus-body {
    min-height: 100vh;
    padding: 50px 20px;
    background: url(Images/hero3.svg) center/cover no-repeat; 
}

/* Flexbox container for text and form*/
.container {
    display: flex; 
    justify-content: space-between; 
    gap: 100px; /* Space between text and form */
    max-width: 1200px;
    margin: auto; 
    flex-wrap: wrap; 
}

/* Left side - contact information */
.contactinfo {
    flex: 1;
    color:white;
    margin-top: 50px;
}


.contactinfo h3 {
    font-size: 24px;
    color: #0f0d3f;
    margin-bottom: 10px;
}

.contactinfo p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Right side - contact form */
.contact {
    flex: 1;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    margin: auto; 
}

.contact h1 {
    font-size: 36px; 
    color: #0f0d3f;
    margin-bottom: 20px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

form label {
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

form input, form textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background-color: #f9f9f9;
}

form input:focus, form textarea:focus {
    border-color: #01d5d5; 
    outline: none; /* Removes default outline in different color */
}

/* send button */
form button {
    padding: 12px 20px;
    background-color: #0f0d3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background: white;
    color: #01d5d5;
    border: 2px solid #01d5d5;
}

/***** NEWS SECTION STYLES *****/
.news-body {
    position: relative;
    min-height: 100vh; 
    background: url(Images/hero3.svg) center/cover no-repeat;
    background-attachment: fixed; 
}

/* News container */
#news-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Flexible grid */
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.news-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.news-selection h1{
    font-size: 35px;
}
.news-selection button {
    padding: 14px 20px;
    background-color: #0f0d3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    max-width: 200px; 
    width: 100%; 
    margin: 0 auto; 
}
.news-card h3 {
    font-size: 20px;
    color: #0f0d3f;
    margin: 10px 0;
    font-weight: bold;
}

.news-card p {
    color: #555;
    font-size: 14px;
    line-height: 1.6;
}

.news-card p strong {
    color: #0f0d3f;
}

.news-card a {
    color: white;
    background-color: #0f0d3f;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #0f0d3f;
    padding: 8px 15px;
    border-radius: 5px;
}

.news-card a:hover {
    background-color: white;
    color: #01d5d5;
    border: 2px solid #01d5d5;
}

.news-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}


/**** FOOTER ****/
footer {
    background-color:#01d5d5;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto; 
}

@media (min-width: 769px) and (max-width: 1024px) {
    .feature{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1025px) {
    .feature{
        grid-template-columns: repeat(3, 1fr);
    }
}